chromadb
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-azure-inference
llama-index-vector-stores-chroma
llama-index-readers-file
fastapi
uvicorn
gunicorn
pypdf
python-dotenv
huggingface_hub
tiktoken
python-multipart